
.cta-button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 40px;
  float: right;
}

.dark .cta-button {
  background-color: #ffffff !important;
  color: #000000 !important;
}

